
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .subcontainer {
    display: flex;
  }

  .subcontainer3 {
    display: flex;
    justify-content: space-between;
  }

  .space {
    height: 10px;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #cecece;
    color: #333;
  }
  
  h1, h2, h3, h4 {
    font-weight: 600;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .titleLeft {
    margin-left: 3px;
  }
  
  h1.title {
    margin: 10px;
    font-size: 24px;
    color: #ffffff;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #565b5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .maincontainer {
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
  }
  
  .subtitleBar {
    background-color: #565b5c;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .logo {
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
  }
  
  .imageMe {
    border-radius: 5px;
    width: 20%;
  }
  
  .text {
    margin: 0;
    padding: 5px;
    font-size: 14px;
  }

  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .item {
    background-color: #565b5c;
    border-radius: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subcontainer2 {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .subContainerBar {
    background-color: #565b5c;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .flexBox {
    display: flex;
    align-items: center;
  }
  
  .image {
    border-radius: 5px;
    width: 30%;
    margin-right: 20px;
  }
  
  .contact {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .contact-form {
    background-color: #565b5c;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
  }
  
  .input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #565b5c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #333333;
  }
  